@model IEnumerable<CoreMVCDemo.Models.ModuleModels>

@{
    ViewData["Title"] = "Source 2";
}

<h2>Source 2</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
